:root{
    --greencolor:rgb(125, 255, 202);
    --txtcolor:rgb(0,0,0);
    --whitecolor:white;
}
html,
body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar a {
    text-decoration: none;
    font: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    height: 6%;
    border-radius: 0px 0px 10px 10px;
    width: 60%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

#heroimg img {
    width: 450px;
    height: auto;
    position: absolute;
    right: 15%;
    top: 180px;
}

#herobg {
    width: 100%;
}

#o1 {
    border-bottom: 4px solid var(--greencolor);
}

#o1:hover {
    transition: .2s ease-in;
    background-color: var(--greencolor);
    color: var(--txtcolor);
}

#o2:hover {
    transition: .2s ease-in;
    background-color: var(--greencolor);
    color: var(--txtcolor);
}

#o3:hover {
    transition: .2s ease-in;
    background-color: var(--greencolor);
    color: var(--txtcolor);
}

#o4:hover {
    transition: .2s ease-in;
    background-color: var(--greencolor);
    color: var(--txtcolor);
}

#o5:hover {
    transition: .2s ease-in;
    background-color: var(--greencolor);
    color: var(--txtcolor);
}
#verticle-line{
    position: absolute;
    z-index: 4;
    top: 270px;
    left: 15%;
    width: 7px;
    height: 300px;
    background-color: var(--greencolor);
}
#hero-heading{
    position: absolute;
    left: 17%;
    top: 270px;
    color: var(--greencolor);
}
#hero-heading>span{
    font-size: 30px;
}
#hero-heading>#name{
    position: absolute;
    top: 70px;
    font-size: 50px;
}
#hero-heading .typing-text {
    animation-duration: 2s;
}
#gcontain{
    position: absolute;
    top: 655px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 300px;
    background-color: var(--greencolor);
    border-radius: 30px;
    text-align: center;
}
.fa-solid{
    text-decoration: none;
    color: var(--greencolor);
}
.fa-solid:hover{
    color: var(--whitecolor);
}
.mainlink{
    text-decoration: none;
    color: var(--greencolor);
}
.headings{
    font-weight: 800;
}
